html {
    background: rgb(255, 255, 255);
    /* background: #e7e7e7; */
  }
  
  div.topheader {
    font-family: "Overpass", serif;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-right: 5px;
    padding-top: 5px;
    background-color: rgb(255, 255, 255);
  }
  
  body {
    height: 80%;
    text-align: left;  
    font-family: "Overpass", serif;
  }
  
  div.about {
    margin: 5%;
    align-content: center;
  }
  
  * {
      box-sizing: border-box;
    }
    
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  .left {
    width: 55%;
  }
  
  .right {
    width: 35%;
    margin-top: 50px;
    margin-left: 30px;
  }

  .profile-img {
    float: center;
  }
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media only screen and (max-width: 600px) {
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
    }
  }
  
  iframe {
    width: 100%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
   
  

  