html, body {
    margin: 0%;
    width: 100%;
    height: 100%;
    text-align: left;
    background: grey;
    background: -webkit-linear-gradient(#bdc3c7, #2c3e50);
}

video {
    width: 100%;
}

.video_cont {
    width: 100%;
    height: 100%;
    margin-left: auto;
    padding-left: 250px;
    color: white;
    display: block;
    background: grey;
    background: -webkit-linear-gradient(#bdc3c7, #2c3e50);
    overflow-y: scroll;
}

.content {
    margin-left: 72px;
    padding-left: 20px;
    height: 100%;
    color: white;
    display: block;
    background: grey;
    background: -webkit-linear-gradient(#bdc3c7, #2c3e50);
    overflow-y: scroll;
}
