@import url(http://fonts.googleapis.com/css?family=Raleway:500);
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #f2f2f3;
  font-family: 'Raleway', sans-serif; }
  body h1 {
    text-align: center;
    margin-top: 35px;
    color: #333333;
    letter-spacing: 1px;
    text-shadow: 1px 1px #f2f2f3, -1px -1px #f2f2f3; }

.nav {
  height: 100%;
  position: fixed;
  left: -2em;
  top: 0;
  z-index: 1000;
  transform-style: preserve-3d;
  perspective: 1000px; }

.icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 990;
  height: 100%;
  background: #262626; }
  .icon li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    list-style-type: none; }
  .icon a {
    display: block;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 1.6em;
    color: #999999;
    text-shadow: 0 1px 0 black;
    transition: all .5s ease-out; }
    .icon a:hover {
      color: white;
      transform: translateX(10px) scale(1.2); }

.nav:hover .text {
  transform: rotateY(0deg); }

.text {
  position: absolute;
  left: 63px;
  top: 0;
  z-index: 980;
  height: 100%;
  background: #262626;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  transition: transform .24s linear;
  backface-visibility: hidden;
  transform-origin: left;
  transform: perspective(1000px) rotateY(90deg); }
  .text li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .text a {
    display: block;
    width: 200px;
    height: 64px;
    line-height: 64px;
    text-indent: 1em;
    font-size: 1.4em;
    text-decoration: none;
    color: #999999;
    text-shadow: 0 1px 0 black;
    transition: all .5s ease; }
    .text a:hover {
      color: white;
      transform: translateX(-14px); }

.nav:hover .info {
  left: 0;
  opacity: 1;
  transition: opacity 0.5s ease-in 0.1s; }

.info {
  position: absolute;
  padding-left: 2em;
  bottom: 30px;
  z-index: 999;
  width: 264px;
  color: white;
  text-align: center;
  line-height: 1.6;
  opacity: 0; }
  .info .logo p {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background: #262626;
    color: #424242;
    opacity: .6;
    overflow: hidden;
    text-align: center;
    transition: all .5s ease;
    font-size: 2em;
    text-shadow: -1px -1px #4f4f4f, 1px 1px #121212; }
    .info .logo p:hover {
      opacity: 1;
      color: white;
      text-shadow: -1px -1px #575757, 1px 1px #121212; }
  .info .name {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
    color: #424242;
    text-shadow: -1px -1px #4f4f4f, 1px 1px #121212; }
  .info .quote {
    color: #444;
    text-shadow: 1px 1px #121212; }
  .info .social a {
    font-size: 2em;
    color: #333333;
    letter-spacing: .5em;
    text-shadow: 1px 1px #454545, -1px -1px #121212;
    transition: all .5s ease; }
    .info .social a:hover {
      color: white;
      text-shadow: -1px -1px #575757, 1px 1px #121212; }

/*
Only added a nav query for height bc width is fine
(covers full width of viewport from 270px) down to 220px.
Bottom nav info section is hidden when screen height
hits 550px or below.  Nav still functions as a fly-out
*/
@media screen and (max-height: 550px) {
  .info {
    display: none; } }
@media screen and (max-width: 450px) {
  h1 {
    font-size: 7.5vw; } }

/*# sourceMappingURL=menu.css.map */

div.content {
    overflow-y: scroll;
    float: right;
    position: relative;
    width: auto;
}
