<div class="topheader">
    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Justin Torre</a>
        <div class="dropdown">
            <button class="dropbtn">Projects 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/projects/the-easy-animator.html">The Easy Animator</a>
                <a href="/marble-solitaire/index.html">Marble Solitaire</a>
                <a href="/projects/voice_controlled_robotic_arm.html">Voice Controlled Robotics Arm</a>
                <a href="https://codecommentmaker.com/">CodeCommentMaker.com</a>
                <a href="/projects/sustainability_in_smart_homes.html">Sustainable Smart House</a>
                <a href="/projects/ampifier.html">Ampifier</a>
                <a href="/projects/self_solving_maze.html">Self Solving Maze</a>
                <a href="https://justintorre.com/nuke-effect">The Nuke Effect</a>
                <a href="https://github.com/sandboxnu/predictive-affect">Predictive Affect (Github Link)</a>
                <a href="https://gitlab.com/justintorre75/justintorre.com">This Website (Gitlab Link)</a>

            </div>
        </div> 
        <a href="/videos/">Videos</a>
        <a href="/contact">Contact</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveMobileMenu()">&#9776;</a>
    </div>
</div>

<script src="/Menu/scroll_menu_bar.js"></script>
